.about {
  padding: 100px 20px 0px 0px;
}
.about__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 60px;
}
.about__image {
  width: 100%;
  max-width: 628px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.about__text {
  max-width: 586px;
  height: 478px;
}
.about__title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 1.2;
}
.about__description {
  font-size: 16px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 40px;
  width: 587px;
}
.about__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 40px 0;
}
.about__stat-item {
  text-align: center;
}
.about__stat-number {
  font-size: 30px;
  font-weight: 700;
  display: block;
}
.about__stat-label {
  font-size: 16px;
  color: #555;
  margin-top: 15px;
  display: block;
}
.about__btn {
  background: #3771c8;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  padding: 16px 32px;
  width: 167px;
  height: 56px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  margin-top: 65px;
}
.about__btn .search-box__icon {
  color: #fff;
}
.about__btn:hover {
  background: rgb(44, 90.4, 160);
}