@import '../base/mixins.scss';
@import '../base/variables.scss';


.about {
  padding: 100px 20px 0px 0px;
  
  &__content {
    @include flex($align: flex-start);
    gap:60px;
  }
  
  &__image {
    width: 100%;
    max-width: 628px;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
  }
  
  &__text {
    max-width: 586px;
    height: 478px;
  }
  
  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 25px;
    line-height: 1.2;
  }
  
  &__description {
    font-size: 16px;
    color: $text-light;
    line-height: 1.7;
    margin-bottom: 40px;
    width: 587px;
  }

  &__stats {
    @include flex($justify: space-between);
    margin: 40px 0;
    
  }

  &__stat-item {
    text-align: center;
    
  }

  &__stat-number {
    font-size: 30px;
    font-weight: 700;
    display: block;
  }

  &__stat-label {
    font-size: 16px;
    color: $text-light;
    margin-top: 15px;
    display: block;
  }

  &__btn {
    background: $primary-color;
    color:#fff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    padding: 16px 32px;
    width: 167px;
    height: 56px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    margin-top: 65px;
    
    .search-box__icon {
      color: $white;
    }
    
    &:hover {
      background: darken($primary-color, 10%);
    }
  }
  
}