@import '../base/mixins.scss';
@import '../base/variables.scss';
.btn {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  @include transition;
  
  &--primary {
    background: $primary-color;
    color: $white;
    border: none;
    
    &:hover {
      background: darken($primary-color, 10%);
    }
  }
  
  &--outline {
    background: transparent;
    color: $secondary-color;
    border: 1px solid #999;
    
    &:hover {
      background: rgba($primary-color, 0.1);
    }
  }
  
  &--small {
    padding: 8px 16px;
    font-size: 14px;
  }
}