.section-heading {
  margin-bottom: 40px;
}
.section-heading__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-heading__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
}
.section-heading__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}
.section-heading__description {
  font-size: 16px;
  color: #555;
  line-height: 1.7;
  max-width: 566px;
  padding-top: 16px;
}
.section-heading__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding-bottom: 4px;
  background: transparent;
  color: #3771c8;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 109px;
  height: auto;
  border: none;
}
.section-heading__button:hover {
  background: #fea445;
  color: #2b2b2b;
}
.section-heading__button:hover .section-heading__underline {
  border-color: #fff;
}
.section-heading__underline {
  width: 109px;
  height: 5px;
  border: 1px solid #f9d15c;
  border-radius: 280px;
  background: transparent;
  transition: all 0.3s ease;
}

.facilities {
  padding: 22px 0;
}
.facilities__grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  flex-wrap: nowrap;
}

.facility-card {
  background: #fff;
  border-radius: 8px;
  padding: 36px 20px 50px;
  flex: 1;
  min-width: 250px;
  max-width: 308px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
  text-align: center;
  height: 234px;
}
.facility-card--highlight {
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.05);
}
.facility-card__icon {
  width: 68px;
  height: 68px;
  margin: 0 auto;
}
.facility-card__title {
  font-size: 20px;
  font-weight: 400;
  margin: 42px 0 12px;
}
.facility-card__description {
  font-size: 16px;
  color: #666;
  line-height: 1.7;
}