@import '../base/mixins.scss';
@import '../base/variables.scss';

.section-heading {
    margin-bottom: 40px;
    
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 8px;
    }
    
    &__title {
        font-size: 40px;
        font-weight: 600;
        line-height: 1.2;
    }
    
    &__description {
        font-size: 16px;
        color: $text-light;
        line-height: 1.7;
        max-width: 566px;
        padding-top: 16px;
    }
    
    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        padding-bottom: 4px;
        background: transparent;
        color: #3771c8;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 109px;
        height: auto;
        border: none;
        
        &:hover {
            background: #fea445;
            color: #2b2b2b;
            
            .section-heading__underline {
                border-color: #fff;
            }
        }
    }
    
    &__underline {
        width: 109px;
        height: 5px;
        border: 1px solid #f9d15c;
        border-radius: 280px;
        background: transparent;
        transition: all 0.3s ease;
    }
}

.facilities {
    padding: 22px 0;
    
    &__grid {
        @include flex;
        gap: 16px;
        flex-wrap: nowrap;
    }
}

.facility-card {
    background: $white;
    border-radius: 8px;
    padding: 36px 20px 50px;
    flex: 1;
    min-width: 250px;
    max-width: 308px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
    text-align: center;
    height: 234px;
    
    &--highlight {
        box-shadow: 0 30px 40px rgba(0, 0, 0, 0.05);
    }
    
    &__icon {
        width: 68px;
        height: 68px;
        margin: 0 auto;
       
    }
    
    &__title {
        font-size: 20px;
        font-weight: 400;
        margin: 42px 0 12px;
    }
    
    &__description {
        font-size: 16px;
        color: #666;
        line-height: 1.7;
    }
}