.hero {
  padding-bottom: 100px;
}
.hero__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  margin-bottom: 40px;
}
.hero__content {
  flex: 1;
  max-width: 648px;
}
.hero__title {
  font-size: 60px;
  line-height: 1.36;
  font-weight: 600;
  margin-bottom: 30px;
  color: #222;
}
.hero__description {
  font-size: 20px;
  color: #555;
  line-height: 1.5;
  max-width: 478px;
}
.hero__gallery {
  display: flex;
  gap: 16px;
  height: 590px;
}
.hero__main-image {
  flex: 1;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  padding: 40px;
  position: relative;
  overflow: hidden;
}
.hero__main-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 50%);
  border-radius: 16px;
}
.hero__image-title {
  padding-left: 144px;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
.hero__secondary-images {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 308px;
  flex-shrink: 0;
}
.hero__secondary-image {
  width: 100%;
  height: 287px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  flex: 1;
}
.hero__secondary-image:last-child {
  flex: 1;
}

.search-box {
  background: #fff;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 22px 38px rgba(0, 34, 19, 0.04);
  width: 452px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 0;
  justify-content: space-evenly;
}
.search-box__inputs {
  display: flex;
  gap: 20px;
  height: 56px;
}
.search-box__field {
  display: flex;
  align-items: center;
  background: #fafafa;
  border-radius: 12px;
  gap: 10px;
  padding-left: 20px;
}
.search-box__field--inputs {
  width: 218px;
  height: 56px;
}
.search-box__field--location {
  height: 56px;
  flex: none;
  position: relative;
}
.search-box__icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.search-box__input {
  font-size: 24px;
  color: #222;
  font-weight: 400;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}
.search-box__input::-moz-placeholder {
  color: #222;
}
.search-box__input::placeholder {
  color: #222;
}
.search-box__btn {
  background: #3771c8;
  border-radius: 12px;
  width: 56px;
  height: 56px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  margin-left: auto;
}
.search-box__btn .search-box__icon {
  color: #fff;
}
.search-box__btn:hover {
  background: rgb(44, 90.4, 160);
}