.hotels {
  padding: 125px 0 0 0;
}
.hotels__button {
  margin-left: auto;
}
.hotels__filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 40px;
  margin: 5px 0 40px;
}
.hotels__filter-btn {
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  width: 100px;
  height: 40px;
  color: #555;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hotels__filter-btn--active {
  border-color: #222;
  color: #222;
}
.hotels__filter-btn:hover {
  border-color: #3771c8;
  color: #3771c8;
}
.hotels .section-heading {
  margin-bottom: 20px;
}
.hotels .section-heading__description {
  margin-top: 12px;
}
.hotels__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  flex-wrap: nowrap;
}

.hotel-card {
  flex: 1;
  min-width: 300px;
  max-width: 411px;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(205, 205, 205, 0.1);
}
.hotel-card__image {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hotel-card__content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-card__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
.hotel-card__description {
  font-size: 14px;
  color: #555;
  line-height: 1.7;
  flex-grow: 1;
}
.hotel-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 16px;
}
.hotel-card__price {
  color: #3771c8;
  font-size: 24px;
  font-weight: 600;
}
.hotel-card__price-unit {
  color: #555;
  font-size: 16px;
  font-weight: 400;
}
.hotel-card__details-btn {
  width: 77px;
  height: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  border-radius: 4px;
  background: #3771c8;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hotel-card__details-btn:hover {
  background: rgb(44, 90.4, 160);
}