@import '../base/mixins.scss';
@import '../base/variables.scss';

.hotels {
  padding: 125px 0 0 0;

  &__button {
    margin-left: auto;
  }

  &__filters {
    @include flex($justify: flex-end);
    gap: 40px;
    margin: 5px 0 40px;
  }

  &__filter-btn {
    background: $white;
    border: 1px solid $border-color;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    width: 100px;
    height: 40px;
    color: $text-light;
    cursor: pointer;
    @include transition;

    &--active {
      border-color: $text-color;
      color: $text-color;
    }
    
    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }

  .section-heading {
    margin-bottom: 20px;
    
    &__description {
      margin-top: 12px; 
    }
  }

  &__grid {
  @include flex($justify: space-between);
  @include flex($align:stretch);
  gap: 24px;
  flex-wrap: nowrap;
}

}

.hotel-card {
  flex: 1;
  min-width: 300px;
  max-width: 411px;
  border: 1px solid $border-color;
  border-radius: 16px;
  overflow: hidden;
  @include transition;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(205, 205, 205, 0.1);
  }
  
  &__image {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }
  
  &__content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  &__description {
    font-size: 14px;
    color: $text-light;
    line-height: 1.7;
    
    flex-grow: 1; // чтобы описание занимало доступное пространство
  }
  
  &__footer {
    @include flex($justify: space-between);
    margin-top: 16px;
  }
  
  &__price {
    color: $primary-color;
    font-size: 24px;
    font-weight: 600;
  }
  
  &__price-unit {
    color: $text-light;
    font-size: 16px;
    font-weight: 400;
  }
  
  &__details-btn {
    width: 77px;
    height: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    border-radius: 4px;
    background: #3771c8;
    border: none;
    cursor: pointer;
    @include transition;
    
    &:hover {
      background: darken(#3771c8, 10%);
    }
  }
}