.newsletter {
  padding: 115px 0;
}
.newsletter__content {
  background: #eaeceb;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 73px;
  overflow: hidden;
}
.newsletter__text {
  max-width: 703px;
}
.newsletter__title {
  font-size: 40px;
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 20px;
}
.newsletter__description {
  font-size: 16px;
  color: #555;
  line-height: 1.7;
  max-width: 538px;
  margin-bottom: 92px;
}
.newsletter__form {
  background: #fff;
  border-radius: 50px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 538px;
  width: 460px;
  height: 56px;
  border-radius: 50px;
  background: #fff;
  overflow: hidden;
}
.newsletter__input {
  flex: 1;
  border: none;
  background: none;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 200%;
  color: #555;
}
.newsletter__input::-moz-placeholder {
  color: #555;
}
.newsletter__input::placeholder {
  color: #555;
}
.newsletter__input:focus {
  outline: none;
}
.newsletter__submit {
  border-radius: 50px;
  width: 140px;
  height: 56px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  background: #3771c8;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.newsletter__submit:hover {
  background: rgb(44, 90.4, 160);
}
.newsletter__image {
  width: 383px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}