@import '../base/mixins.scss';
@import '../base/variables.scss';
.newsletter {
  padding: 115px 0;
  
  &__content {
    background: #eaeceb;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 73px;
    overflow: hidden;
  }
  
  &__text {
    max-width: 703px;
  }
  
  &__title {
    font-size: 40px;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  &__description {
    font-size: 16px;
    color: $text-light;
    line-height: 1.7;
    max-width: 538px;
    margin-bottom: 92px;
  }
  
  &__form {
    background: $white;
    border-radius: 50px;
    padding-left: 25px;
    @include flex($justify: space-between);
    max-width: 538px;
    width: 460px;
    height: 56px;
    border-radius: 50px;
    background: #fff;
    overflow: hidden;
  }
  
  &__input {
    flex: 1;
    border: none;
    background: none;
    padding: 16px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 200%;
    color: #555;
    
    &::placeholder {
      color: $text-light;
    }
    
    &:focus {
      outline: none;
    }
  }
  
  
  &__submit {
    border-radius: 50px;
    width: 140px;
    height: 56px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    background: #3771c8;
    border: none;
    cursor: pointer;
    @include transition;
    
    &:hover {
      background: darken(#3771c8, 10%);
    }
  }
  
  
  
  &__image {
    width: 383px;
    height: 450px;
    object-fit: cover;
  }
}
