.others-company {
  padding: 100px 0;
  
  &__logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
  }
    }
  

