@import 'variables.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
  line-height: 1.6;
  background-color: $white;
}

.container {
  max-width: 84%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}