@mixin flex($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin transition($property: all, $duration: 0.3s) {
  transition: $property $duration ease;
}
