@media (max-width: 1430px) {
  .about__image{
    width: 50%;
  }

  .about__stats{
    margin: 30px 0;
  }

  .about__btn{
    margin-top: 0px;
  }

  .about__stats {
    margin: 30px 0;
  }

  .testimonial__quote{
  text-align: center;
  }
  .facilities__grid{
    flex-wrap: nowrap;
  }
}

@media (max-width: 1348px){
  .about__description{
    width: 98%;
    margin-bottom: 0px;
  }
  
  .about__stats {
    margin: 20px 0;
  }
  
  .facility-card__description{
    font-size: 14px;
    width: 80%;
    
  }
  .facility-card{
    display: flex;
    justify-content: center;
        flex-direction: column;
        align-items: center;
        min-width: 0px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
  
  .hero__title {
    font-size: 48px;
  }
  
  .hero__image-title {
    font-size: 36px;
    padding-left: 80px;
  }
  
  .testimonial__card{
    flex-direction: column;
  }

  .testimonial__image{
    display: none;
  }

  .about__content {
    gap: 40px;
  }
  
  .footer__content {
    gap: 80px;
    width: 100%;
  }
  
  
  .hotel-card__description {
    width: 100%;
  }

  

  .hotel-card__image {
    max-height: 250px;
  }
}

@media (max-width: 1059px) {

  .about__title{
    font-size: 32px;
  }

  .about__description{
    font-size: 14px;
  }

  .about__stat-number{
    font-size: 24px;
  }
  .about__stat-label{
    font-size: 14px;
  }

  .about__content {
    max-height: 390px;
  }

  .hotel-card{
    min-width: 200px;
    max-width: 300px;
  }

}

@media (max-width: 992px) {
  .header .container {
    padding: 20px 0;
  }
  
  .hero__content{
    max-width: 900px;
  }

  .hero__title{
    font-size: 50px;
  }

  .hero__top {
    margin-top: 40px;
    gap: 20px;
  }
  
  .facilities{
    padding: 0px;
  }

  .facility-card__description{
    display: none;
  }

  .facility-card{
    padding: 0px;
  }

  .search-box {
    width: 45%;
    max-width: 500px;
  }
  
  .hero__gallery {
    flex-direction: column;
    height: auto;
  }
  
  .hero__main-image {
    height: 400px;
  }
  
  .hero__secondary-images {
    width: 100%;
    flex-direction: row;
  }
  
  .hero__secondary-image {
    height: 200px;
  }
  
  .facilities__grid {
    justify-content: center;
  }
  
  
  
  .about__text {
    height: auto;
  }
  
  .about__description {
    width: 100%;
  }
  
  .testimonial__card {
    flex-direction: column;
  }
  
  .testimonial__image {
    width: 100%;
    border-radius: 12px 12px 0 0;
  }
  
  .hotels__filters {
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .hotels__grid {
    
    justify-content: space-between;
  }
  
  
  .newsletter__content {
    padding-top:20px;
    padding-bottom: 20px;
    text-align: center;
    padding-right: 73px;
  }
  
  .newsletter__image{
    display: none;
  }

  .newsletter__form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  .newsletter__title{
    font-size: 24px;
  }
  .newsletter__description{
    margin-bottom: 20px;
    display: none;
  }
  .about__btn {
      margin-top: 20px;
      max-width: 157px;
      max-height: 45px;
      font-size: 14px;
    }
  
    .about__title{
        font-size: 32px;
        margin-bottom: 5px;
    }

  .about__stat-label{
      margin-top: 0px;
  }
  
  .about__stats {
    display: none;
    }
  
   
  
  .footer__content {
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    height: auto;
  }

  .about__content{
    align-items: center;
  }
}

@media (max-width: 878px){
  .header__nav-list{
    display: none;
  }
  .search-box__input{
    font-size: 18px;
  }
  .others-company{
    display: none;
  }
  .about{
    padding-bottom: 60px;
  }
  .hotel-card__description{
    display: none;
  }
}

@media (max-width: 824px){
  .hotel-card__price{
    display: none;
  }
}

@media (max-width: 768px) {
  .hero__top{
    display: flex;
    align-items: center;
    margin-top: 0px;
  }
  .hero__description{
    display: none;
  }

      .hero__title{
        font-size: 40px;
    }

    .hotel-card__title{
      font-size: 14px;
    }
    .hotels .section-heading__description{
      display: none;
    }
        .hotels__filters {
        flex-wrap: nowrap;
        gap: 15px;}


        .newsletter {
    padding: 40px 0;
}

  .footer__content {
        gap: 20px;
    }

    .footer__brand{
      display: flex;
      align-items: center;
        flex-wrap: nowrap;
        padding-right: 360px;
        gap:400px;
    }

    .footer__description{
      display: none;
    }
    .footer__menu{
      display: none;
    }
}

@media (max-width: 678px){
  .hotel-card {
    min-width: 100px;
    max-width: 200px;
  }
  .hotel-card__image {
    max-height: 200px;
  }

  .newsletter {
    padding: 40px 0;
}
.footer__brand{
  padding-right: 220px;
        gap:260px;
    }

    .about__title {
        font-size: 24px;
        
    }
    
    .about__description{
      display: none;
    }

  .hotels__filters{
    display: none;
  }
}

@media (max-width: 556px){
  .section-heading__description{
    display: none;
  }



.section-heading__button{
  display: none;
}

.facility-card__title{
  font-size: 14px;
}

    .testimonial__quote{
      font-size: 24px;
    }
 
    .hotel-card {
        min-width: 50px;
      
    }

        .hotel-card__image{
        max-height: 100px;
    }
}

@media (max-width: 521px){
  .newsletter__form {
        width: 80%;
        
    }
  .newsletter__content {
        
        padding-right: 140px;
    }
  .footer__brand {
        padding-right: 150px;
        gap: 200px;
    }
}

@media (max-width: 479px){
    
  .hero__secondary-images {
        max-width: 200px;
        max-height: 190px;
    }

  .newsletter__title {
    font-size: 16px;
  }

  .newsletter__form {
    max-height: 40px;
  }

  .newsletter__submit {
    border-radius: 50px;
    width: 100px;
    height: 40px;
    font-size: 10px;
}
  
  .footer__brand {
        padding-right: 150px;
        gap: 200px;
    }
}

@media (max-width: 454px){

  .hero__secondary-images {
        max-width: 190px;
        max-height: 180px;
    }

        .footer__brand {
        padding-right: 90px;
        gap: 150px;
    }
}


@media (max-width: 430px){
  .hero {
    padding-bottom: 300px;
}
    .hero__title {
        font-size: 32px;
    }
.hero__secondary-images {
        max-width: 100%;
        flex-direction: column;
    }


    .about__content {
        gap: 20px;
    }

        .newsletter__content
 {
        display: flex;
       padding-right: 50px;
        justify-content: center;
    }
        .hotel-card__title {
        display: none;
    }
        .footer__brand {
        padding-right: 90px;
        gap: 150px;
    }
}

@media (max-width: 397px){
   .footer__brand {
      padding-right: 10px;
        gap: 60px;
    }
    .about {
    padding-top: 50px;
}

.hotels {
    padding-top: 60px;
}

.search-box__btn {
    
    width: 30px;
    height: 30px;
    
}

    .about__content {
        gap: 7px;
    }
}